{{HEADER}}

  <div class="zine-post-header">
    <p class="zine-byline">{{TAGS}}</p>
    <h1 class="zine-post-title">{{TITLE}}</h1>
    <p class="zine-post-meta">By {{AUTHOR}} &middot; {{DATE}}</p>
  </div>

  <div class="zine-hero-image zine-hero-image--tall" style="background-image:url('{{HERO_IMAGE_SRC}}'); background-size:cover; background-position:center;" role="img" aria-label="{{HERO_IMAGE_ALT}}"></div>

  <div class="wrap" style="max-width:640px;">
    <p class="disclosure-banner">This post may contain affiliate links. If you make a purchase through one, I may earn a commission at no extra cost to you. See the <a href="../index.html#affiliate-disclosure">full affiliate disclosure</a>.</p>
  </div>

  <div class="zine-post-body">
{{BODY}}
  </div>

{{RELATED_POSTS}}

  <a href="../index.html#blog" class="post-back-link">&larr; Back to all posts</a>

{{FOOTER}}
